<template>
  <div>
    <c-heading as="h2" size="xl" textAlign="center">
      My team
    </c-heading>
    <c-stack is-inline>
      <c-avatar v-for="pokemon in team" :key="pokemon.id" :name="pokemon.name" :src="pokemon.sprite" />
    </c-stack>
    <c-stack is-inline>
      <c-icon-button
        v-for="(pokemon, index) in team"
        :key="pokemon.id"
        icon="chevron-left"
        aria-label="Move forward"
        color="red.500"
        ml="1"
        mr="1"
        @click="movePokemon(index, 'forward')"
      />
    </c-stack>
  </div>
</template>

<script>
import { CStack, CAvatar, CIconButton, CHeading } from '@chakra-ui/vue'
export default {
  name: 'PokemonTeam',
  components: {
    CStack,
    CAvatar,
    CIconButton,
    CHeading
  },
  props: {
    team: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    movePokemon (index, action) {
      if (action === 'forward' && index > 0) {
        this.$emit('move', index, index - 1)
      } else if (action === 'backward' && index < 6) {
        this.$emit('move', index, index + 1)
      }
    }
  }
}
</script>

<style scoped>

</style>
