<template>
  <div>
    <c-heading as="h1" size="2xl" textAlign="center">
      First generation
    </c-heading>
    <table>
      <thead>
        <tr>
          <th>Sprite</th>
          <th>Name</th>
          <th>Manage team</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(pokemon, index) in pokemons" :key="index">
          <td>
            <c-image
              size="100px"
              :src="pokemon.sprite"
              :alt="pokemon.name"
            />
          </td>
          <td>{{ pokemon.name }}</td>
          <td>
            <c-icon-button variant-color="green" aria-label="Search database" icon="add" @click="manageTeam(index, 'add')" />
            <c-icon-button variant-color="red" aria-label="Search database" icon="minus" @click="manageTeam(index, 'remove')" />
          </td>
          <td>
            <div>
              <nuxt-link :to="{ path: '/pokemon/details', query: { id: pokemon.id}}">
                <CButton
                  left-icon="info"
                  variant-color="blue"
                >
                  Details
                </CButton>
              </nuxt-link>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { CButton, CImage, CIconButton } from '@chakra-ui/vue'

export default {
  name: 'PokemonList',
  components: {
    CButton,
    CImage,
    CIconButton
  },
  props: {
    pokemons: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    manageTeam (index, action) {
      this.$emit(`${action}`, index)
    }
  }
}
</script>

<style scoped>

</style>
