<template>
  <div align="center">
    <nuxt-link to="/pokemon">
      <CButton
        left-icon="chevron-left"
        variant-color="red"
        mt="5"
        mb="5"
      >
        Back to Pokemons list
      </CButton>
    </nuxt-link>
    <c-heading as="h1" size="2xl" textAlign="center">
      Details
    </c-heading>
    <c-avatar :name="details.name" :src="details.sprite" />

    <c-heading as="h3" size="lg" textAlign="center">
      {{ details.name }}
    </c-heading>
    <p>Height : {{ details.height }}</p>
    <p>Weight : {{ details.weight }}</p>
    <p>Base experience : {{ details.base_experience }}</p>
  </div>
</template>

<script>
import { CButton, CAvatar, CHeading } from '@chakra-ui/vue'

export default {
  name: 'PokemonDetails',
  components: {
    CButton,
    CAvatar,
    CHeading
  },
  props: {
    details: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style scoped>

</style>
