<template>
  <div>
    <c-stack spacing="3" textAlign="center">
      <c-heading as="h2" size="xl">
        Research
      </c-heading>

      <c-input-group size="md">
        <c-input v-model="pokemon.name" placeholder="type the pokemon name" size="lg" />
        <c-input-right-element width="5rem">
          <c-icon-button variant-color="blue" aria-label="Search database" icon="check" @click="findPokemon" />
        </c-input-right-element>
      </c-input-group>
    </c-stack>

    <div v-if="pokemon.name">
      <c-avatar :name="pokemon.name" :src="pokemon.sprite" />

      <nuxt-link :to="{ path: '/pokemon/details', query: { id: pokemon.id}}" v-if="pokemon.id">
        <CButton
          left-icon="info"
          variant-color="blue"
        >
          Details
        </CButton>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { CButton, CAvatar, CIconButton, CInputGroup, CInput, CInputRightElement, CHeading, CStack } from '@chakra-ui/vue'

export default {
  name: 'PokemonSearch',
  components: {
    CButton,
    CAvatar,
    CIconButton,
    CInputGroup,
    CInput,
    CInputRightElement,
    CHeading,
    CStack
  },
  props: {
    pokemons: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      pokemon: {
        name: '',
        id: 0,
        sprite: ''
      }
    }
  },
  methods: {
    findPokemon () {
      const foundPokemon = this.pokemons.filter(pokemon => pokemon.name === this.pokemon.name.toLowerCase())
      this.pokemon.id = foundPokemon[0].id
      this.pokemon.sprite = foundPokemon[0].sprite
    }
  }
}
</script>

<style scoped>

</style>
