<template>
  <c-flex direction="column" align="center">
    <PokemonTeam :team="team" @move="changePokemonOrder" />
    <PokemonDetails :details="details" />
  </c-flex>
</template>

<script>
import axios from 'axios'
import { CFlex } from '@chakra-ui/vue'
import PokemonTeam from '../../components/PokemonTeam'
import PokemonDetails from '../../components/PokemonDetails'
const pokemonApi = axios.create({
  baseURL: 'https://pokeapi.co/api/v2/'
})
export default {
  name: 'details',
  components: {
    PokemonTeam,
    PokemonDetails,
    CFlex
  },
  data () {
    return {
      details: {
        id: 0,
        name: '',
        height: 0,
        weight: 0,
        base_experience: 0
      },
      team: []
    }
  },
  created () {
    if (localStorage.team) {
      this.team = JSON.parse(localStorage.getItem('team'))
    }
    this.getPokemonDetails()
  },
  methods: {
    getPokemonDetails () {
      const vm = this
      pokemonApi.get(`pokemon/${this.$route.query.id}`)
        .then(function (response) {
          vm.details.sprite = response.data.sprites.front_default
          vm.details.name = response.data.name
          vm.details.height = response.data.height
          vm.details.weight = response.data.weight
          vm.details.base_experience = response.data.base_experience
        })
        .catch(function (error) {
          console.log('error', error)
        })
    },
    changePokemonOrder (fromIndex, toIndex) {
      const oldTeam = this.team
      const element = this.team[fromIndex]
      oldTeam.splice(fromIndex, 1)
      oldTeam.splice(toIndex, 0, element)
      this.team = oldTeam
      const parsedTeam = JSON.stringify(oldTeam)
      localStorage.setItem('team', parsedTeam)
    }
  }
}
</script>

<style scoped>

</style>
