<template>
  <c-flex direction="column" align="center">
    <PokemonSearch :pokemons="pokemons" />
    <c-divider />
    <PokemonTeam :team="team" @move="changePokemonOrder" />
    <c-divider />
    <PokemonList :pokemons="pokemons" @add="addToTeam" @remove="removeFromTeam" />
  </c-flex>
</template>

<script>
import axios from 'axios'
import { CDivider, CFlex } from '@chakra-ui/vue'
import PokemonList from '../../components/PokemonList'
import PokemonSearch from '../../components/PokemonSearch'
import PokemonTeam from '../../components/PokemonTeam'
const pokemonApi = axios.create({
  baseURL: 'https://pokeapi.co/api/v2/'
})

export default {
  name: 'pokemon',
  components: {
    PokemonTeam,
    PokemonSearch,
    PokemonList,
    CDivider,
    CFlex
  },
  data () {
    return {
      pokemons: [],
      team: []
    }
  },
  created () {
    if (localStorage.team) {
      this.team = JSON.parse(localStorage.getItem('team'))
    } else {
      localStorage.setItem('team', JSON.stringify([]))
    }
    this.getPokemonList()
  },
  methods: {
    getPokemonList () {
      if (localStorage.pokemons) {
        this.pokemons = JSON.parse(localStorage.getItem('pokemons'))
      } else {
        const vm = this
        localStorage.setItem('pokemons', JSON.stringify([]))
        pokemonApi.get('pokemon?limit=151')
          .then(function (response) {
            response.data.results.forEach((pokemon) => {
              pokemonApi.get(pokemon.url)
                .then(function (detailsResponse) {
                  pokemon.sprite = detailsResponse.data.sprites.front_default
                  pokemon.id = detailsResponse.data.id
                  vm.pokemons.push(pokemon)
                  const savedPokemons = JSON.parse(localStorage.getItem('pokemons'))
                  const parsedPokemon = JSON.stringify([...savedPokemons, pokemon])
                  localStorage.setItem('pokemons', parsedPokemon)
                })
            })
          })
          .catch(function (error) {
            console.log('error', error)
          })
      }
    },
    addToTeam (index) {
      if (this.team.length < 6) {
        this.team.push(this.pokemons[index])
        const savedTeam = JSON.parse(localStorage.getItem('team'))
        const parsedTeam = JSON.stringify([...savedTeam, this.pokemons[index]])
        localStorage.setItem('team', parsedTeam)
      }
    },
    removeFromTeam (index) {
      if (this.team.length > 0) {
        this.team = this.team.filter(pokemon => pokemon.id !== this.pokemons[index].id)
        const savedTeam = JSON.parse(localStorage.getItem('team'))
        const parsedTeam = JSON.stringify(savedTeam.filter(pokemon => pokemon.id !== this.pokemons[index].id))
        localStorage.setItem('team', parsedTeam)
      }
    },
    changePokemonOrder (fromIndex, toIndex) {
      const oldTeam = this.team
      const element = this.team[fromIndex]
      oldTeam.splice(fromIndex, 1)
      oldTeam.splice(toIndex, 0, element)
      this.team = oldTeam
      const parsedTeam = JSON.stringify(oldTeam)
      localStorage.setItem('team', parsedTeam)
    }
  }
}
</script>

<style scoped>

</style>
